.navbarmanager {
  background-color: #4CAF50 !important;
  color: white !important;
  padding: 15px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
  margin-bottom: 20px !important; 
  width: 100% !important;
  position: relative;
}

.navbarmanager ul {
  list-style-type: none !important;
  margin: 0 !important; 
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.navbarmanager li {
  margin-right: 30px !important; 
}

.navbarmanager a {
    color: white !important;
    text-decoration: none !important;
    padding: 10px 15px !important;
    transition: background-color 0.3s, color 0.3s !important;
    border-radius: 4px !important;
  }

  .active-link {
    background-color: #3575b5 !important;
    color: yellow !important; 
  }

.navbarmanager a:hover {
  background-color: #45a049 !important; 
  color: white !important; 
}

@media (max-width: 768px) {
  .navbarmanager ul {
    flex-direction: column !important;
  }

  .navbarmanager li {
    margin: 10px 0 !important;
  }
}
